<!doctype html>
<html lang="en" ng-app="javafxwebdemo">
<head>
<meta charset="utf-8">
<title>My HTML File</title>

<!-- before any uses of the backend objects -->
<script src="js/fruits-service.js" type="text/javascript"></script>
<script src="js/calculator-service.js" type="text/javascript"></script>
<script src="js/browser-service.js" type="text/javascript"></script>
<script src="js/userinput-service.js" type="text/javascript"></script>

<script src="jslib/angular.min.js" type="text/javascript"></script>

<script src="js/controller-angular.js" type="text/javascript"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="jslib/bootstrap.min.js"></script>
<!-- 			<script type='text/javascript' src='https://github.com/firebug/firebug-lite/blob/0fd318131ecb33679183811f1573f6d3bbf3dbfa/content/lite/pluginSample.js'></script> -->

<!-- 			<script type='text/javascript' src='http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'></script> -->

<link rel="stylesheet" href="style.css">
</head>

<body ng-controller="JavaFXWebDemoController">
	<h4>Automation Test Engine Scripting Launcher</h4>
	<p>Step1. Choose browser type <br/>Step2. Type in the url of
		the web page under test <br/>Step3. Click Launch button <br/>Step4. Click
		Inject button to open the ATE in browser</p>


	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><center>Command Console</center></h3>
					</div>
					<div class="panel-body">
						<div>
						<button id="injectButton" class="btn btn-sm btn-success" ng-click="launchFireBug()">Inject</button>
						<button id="launchButton" class="btn btn-sm btn-success" ng-click="launchBrowser()">Launch</button>
						<button id="stopButton" class="btn btn-sm btn-success" ng-click="stopBrowser()">Stop</button>
						</div>
						<br/>
						<div>
							Testing Browser Type: <input ng-model="number1" class="form-control"><br>
							Test Case Starting Page: <input ng-model="number2"
								class="form-control"><br>
						</div>
						<!-- 	          <p> -->
						<!-- 	          	Result of Number1 + Number2 is: {{ sum() }}<br> -->
						<!-- 	          	<small>(the result is computed in pure Java via a synchronous call)</small> -->
						<!-- 	          </p> -->
					</div>
				</div>
			</div>

		</div>
	</div>

</body>
</html>