<!DOCTYPE html>
<html ng-app="javafxwebdemo">
<head>
	<script src="jslib/angular.min.js" type="text/javascript"></script>
	<script src="jslib/jquery-1.9.1.min.js" type="text/javascript"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="jslib/bootstrap.min.js"></script>
	<script src="controller-angular.js"></script>

</head>
<body>
<!--
	<button id="executescript">Execute script in inspected page</button>
	<button id="insertscript">Insert script into inspected page</button>
	<button id="insertmessagebutton">Insert button to send a message from page to devtools</button>
-->
	<script src="messaging.js"></script>
	<script src="panel.js"></script>

	<div id="abctest" ng-controller="JavaFXWebDemoController">
		<h1 id="removeTitle">ATE Test Case Generator User Training Console</h1>
		<div class="container-fluid">
			<div class="row">

				<div class="col-sm-10">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Test Suite<input ng-model="testSuiteName" type="text" maxlength="20"/>
								Test Case<input ng-model="testCaseName" type="text" maxlength="20"/>
								Page Name<input ng-model="pageName" type="text" maxlength="20"/>
							</h3>
						</div>
						<div class="panel-body">
							<a href="panel.html">Reload page</a>
							<button class="btn btn-sm btn-success" ng-click="injectProcessor()">InjectPageProcessor</button>
							<button class="btn btn-sm btn-success" ng-click="preprocessing()">Preprocessing</button>
							<button class="btn btn-sm btn-success" ng-click="predict()">PrePredict</button>
							<button class="btn btn-sm btn-success" ng-click="trainIntoPIO()">Pio Import</button>
							<button class="btn btn-sm btn-success" ng-click="pioPredict()">Pio Predict</button>
							<button class="btn btn-sm btn-success" ng-click="saveIntermediateResult()">Save Intermediate Result</button>
							<table class="table table-striped">
								<thead>
								<tr><th>Field</th><th>PioImportId</th><th>PioPredictResult</th><th>PioConfidence</th><th>Html</th></tr>
								</thead>
								<tbody>
								<tr ng-repeat="fruit in fruits">
									<td><input type="text" id="{{fruit.inputLabelName}}" ng-model="fruit.inputLabelName"/></td>
									<td>{{fruit.trainedResult}}</td>
									<td>{{fruit.pioPredictLabelResult}}</td>
									<td>{{fruit.pioPredictConfidence}}</td>
									<td>{{fruit.inputMLHtmlCode}}</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div style="display:none" class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Calculator (synchronous example)</h3>
						</div>
						<div class="panel-body">

							Number1: <input id="number1" ng-model="number1" class="form-control"><br>
							Number2: <input ng-model="number2" class="form-control"><br>

							<p>
								Result of Number1 + Number2 is: {{ sum() }}<br>
								<small>(the result is computed in pure Java via a synchronous call)</small>
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</body>
</html>