<!DOCTYPE html>
<html class="no-js" ng-app="javafxwebdemo">
<head>

	<script src="jslib/angular.min.js" type="text/javascript"></script>
	<script src="jslib/jquery-1.9.1.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="css/angucomplete-alt.css">

	<script src="jslib/angular-sanitize.min.js"></script>
	<script src="jslib/html2canvas.min.js"></script>
	<script src="jslib/angucomplete-alt.js"></script>
	<script src="jslib/angular-recursion.min.js"></script>
	<script src="jslib/angular-touch.min.js"></script>
	<script src="jslib/ngStorage.min.js"></script>
	<!-- <script src="jslib/app.js"></script> -->
	<style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
	<style>
		.angucomplete-dropdown {
			overflow-y: auto;
			max-height: 150px;
		}
	</style>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="jslib/bootstrap.min.js"></script>
	<script src="controller-angular.js"></script>

</head>
<body>
<!--
	<button id="executescript">Execute script in inspected page</button>
	<button id="insertscript">Insert script into inspected page</button>
	<button id="insertmessagebutton">Insert button to send a message from page to devtools</button>
-->
	<script src="messaging.js"></script>
	<script src="panel.js"></script>

	<div id="abctest" ng-controller="JavaFXWebDemoController" class="ng-scope">
		<h2 id="removeTitle">ATE Test Case Generator User Training Console</h2>
		<div class="container-fluid">
			<div class="row">

				<div class="col-sm-15">
					<div class="panel panel-default">
						<div class="panel-heading">
							<br class="panel-title">
							<!-- use this to populate the industry category recursion http://stackoverflow.com/questions/14430655/recursion-in-angular-directives-->
							Industry<input ng-model="industryCategoriesMap[0].name" disabled type="text" size="20"/>
							<span ng-repeat="industryCat in industryCategoriesMap" ng-if="$index >= 1">
								=><input ng-model="industryCat.name" disabled type="text" size="20"/>
							</span>
								<!--Industry Code<input ng-model="industryCode" type="text" maxlength="20"/>
								IndustryName<input ng-model="testIndustryName" type="text" maxlength="20"/>
								Industry Sub-Category<input ng-model="testIndustrySubCategory" type="text" maxlength="20"/>-->
								Test Suite<input ng-model="testSuitesMap[0].name" disabled type="text" size="20"/>
							<span ng-repeat="testSuite in testSuitesMap" ng-if="$index >= 1">
								=><input ng-model="testSuite.name" disabled type="text" size="20"/>
							</span>
							<select ng-model="screenType" ng-change="screenTypeSwitcher()">
								<option value="HTML">HTML Screen</option>
								<option value="WINDOWFILEPICKER">FILE Dialog</option>
							</select>
								Test Case<input ng-model="testCaseName" disabled type="text" size="20"/><br/>
							Protocol<input ng-model="page_context.domainProtocol" type="text" size="10" disabled/>
							Domain Name<input ng-model="domainName" type="text" size="30" disabled/>
							Domain Port<input ng-model="page_context.domainPort" type="text" size="7" disabled/>
							Screen URL<input ng-model="page_context.screenUrl" type="text" size="30"  disabled/>

							<!--PagePredictionConfidence<input ng-model="pagePredictionConfidence" type="text" maxlength="30" disabled/>-->
								<!--Page Name<input ng-model="pageName" type="text" maxlength="20"/>-->
							<script type="text/ng-template" id="/my-custom-template-value.html">
								<div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
									<input ng-model="searchStr"
										   ng-disabled="disableInput"
										   type="text"
										   placeholder="{{placeholder}}"
										   ng-focus="onFocusHandler()"
										   class="{{inputClass}}"
										   ng-focus="resetHideResults()"
										   ng-blur="hideResults($event)"
										   autocapitalize="off"
										   autocorrect="off"
										   autocomplete="off"
										   ng-change="inputChangeHandler(searchStr)"/>
									<div class="angucomplete-dropdown" ng-show="showDropdown">
										<div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
										<div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
										<div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
											<div ng-if="imageField" class="angucomplete-image-holder">
												<img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="angucomplete-image"/>
												<div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
											</div>
											<div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
											<div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
											<div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
											<div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div>
										</div>
										<div class="angucomplete-row" ng-click="selectResult({title: searchStr, originalObject: { name: searchStr, custom: true }})" ng-mouseenter="hoverRow(results.length)" ng-class="{'angucomplete-selected-row': results.length == currentIndex}">
											<div class="angucomplete-title">Create New User Value '{{ searchStr }}'</div>
										</div>
									</div>
								</div>
							</script>
							<script type="text/ng-template" id="/my-custom-template.html">
								<div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
									<input ng-model="searchStr"
										   ng-disabled="disableInput"
										   type="text"
										   placeholder="{{placeholder}}"
										   ng-focus="onFocusHandler()"
										   class="{{inputClass}}"
										   ng-focus="resetHideResults()"
										   ng-blur="hideResults($event)"
										   autocapitalize="off"
										   autocorrect="off"
										   autocomplete="off"
										   ng-change="inputChangeHandler(searchStr)"/>
									<div class="angucomplete-dropdown" ng-show="showDropdown">
										<div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
										<div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
										<div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
											<div ng-if="imageField" class="angucomplete-image-holder">
												<img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="angucomplete-image"/>
												<div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
											</div>
											<div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
											<div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
											<div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
											<div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div>
										</div>
										<div class="angucomplete-row" ng-click="selectResult({title: searchStr, originalObject: { name: searchStr, custom: true }})" ng-mouseenter="hoverRow(results.length)" ng-class="{'angucomplete-selected-row': results.length == currentIndex}">
											<div class="angucomplete-title">Create New Screen Name '{{ searchStr }}'</div>
										</div>
									</div>
								</div>
							</script>
							<div angucomplete-alt="" id="ex14" placeholder="Screen Name" pause="100"
								 selected-object="countrySelected14" local-data="countries" search-fields="name"
								 title-field="name" minlength="1" input-class="form-control form-control-small input-sm"
								 match-class="highlight" initial-value="countrySelected14" template-url="/my-custom-template.html"
								 class="ng-isolate-scope col-xs-2 ">

								</div>
							</h3>
						</div>
						<div class="panel-body">
							<a href="panel.html">Reload page</a>
							<button class="btn btn-sm btn-success" ng-click="injectProcessor()">1: Inject-></button>
							<span id="htmlScreenCommandBlock" ng-show="screenType == 'HTML'">
								<button class="btn btn-sm btn-success" ng-click="preprocessing()">2: Preproc-></button>
								<button class="btn btn-sm btn-success" ng-click="predict()">3: PrePred-></button>
								<button class="btn btn-sm btn-success" ng-click="addWebElement()">4: AddElement-></button>
								<!--<button class="btn btn-sm btn-success" ng-click="trainIntoPIO()">PioImport</button>-->
								<button class="btn btn-sm btn-success" ng-click="pioPredict()">5: PioPredict-></button>
								<label class="lbl lbl-sm lbl-success" >6: Adjust Predict Results-></label>
								<label class="lbl lbl-sm lbl-success" >7: Fill out user values-></label>
								<button class="btn btn-sm btn-success" click-and-disable="saveIntermediateResult()">8: Save Result</button>
								<button class="btn btn-sm btn-success" ng-click="saveIntermediateResult()">9: re-Save </button>
							</span>
							<span id="windowFilePickerCommandBlock" ng-show="screenType == 'WINDOWFILEPICKER'">
								<label class="lbl lbl-sm lbl-success" >Note: These elements are previous screen's ClickInputs. Delete the one(s) not triggering this screen.-></label>
								<button class="btn btn-sm btn-success" click-and-disable="saveIntermediateResultForWindowsFilePicker()">8: Save Result</button>
								<button class="btn btn-sm btn-success" ng-click="saveIntermediateResultForWindowsFilePicker()">9: re-Save </button>
							</span>
							<button class="btn btn-sm btn-success" ng-click="startNewRootScreenNode()">10: start New Home</button>


							<script type="text/ng-template" id="/my-custom-template_field.html">
								<div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
									<input ng-model="searchStr"
										   ng-disabled="disableInput"
										   type="text"
										   placeholder="{{placeholder}}"
										   ng-focus="onFocusHandler()"
										   class="{{inputClass}}"
										   ng-focus="resetHideResults()"
										   ng-blur="hideResults($event)"
										   autocapitalize="off"
										   autocorrect="off"
										   autocomplete="off"
										   ng-change="inputChangeHandler(searchStr)"/>
									<div class="angucomplete-dropdown" ng-show="showDropdown">
										<div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
										<div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
										<div class="angucomplete-row" ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
											<div ng-if="imageField" class="angucomplete-image-holder">
												<img ng-if="result.image && result.image != ''" ng-src="{{result.image}}" class="angucomplete-image"/>
												<div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
											</div>
											<div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
											<div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
											<div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description" ng-bind-html="result.description"></div>
											<div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">{{result.description}}</div>
										</div>
										<div class="angucomplete-row" ng-click="selectResult({title: searchStr, originalObject: { name: searchStr, custom: true }})" ng-mouseenter="hoverRow(results.length)" ng-class="{'angucomplete-selected-row': results.length == currentIndex}">
											<div class="angucomplete-title">Create New Field Name '{{ searchStr }}'</div>
										</div>
									</div>
								</div>
							</script>
							<table class="table table-striped">
								<thead>
								<tr><th/><th>ScreenInputValue</th><th>NPLPredictField</th><th class="col-sm-3">--</th><th>PioPredictField--></th>
									<th>PioConfidence</th><th>UserInputType</th>
									<!--<th>ActionPredictResult</th><th>ActionConfidence</th>-->
									<th>PioImportId</th>
									<th>Element Snapshot</th>
									<th>Html</th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="fruit in fruits">
									<!--<table>
										<tr> -->
									<td><input type="button" value="Remove" class="btn btn-sm" ng-click="removeRow(fruit)"/></td>
									<!--<td><input type="text" ng-model="fruit.userValue"/></td>-->
									<td><div angucomplete-alt="" id="userInuptValue{{$index}}" placeholder="Input Value" pause="100"
										 selected-object="$parent.tmpUserValue" local-data="$parent.allUserValues" search-fields="name"
										 title-field="name" minlength="1" input-class="form-control form-control-small input-sm"
										 match-class="highlight" initial-value="$parent.fruits[$index].userValues[0].value" template-url="/my-custom-template-value.html"
										 class="ng-isolate-scope ">
									</div></td>
									<td><input type="text" size="15" ng-model="fruit.inputLabelName"/></td>
									<td><a href="" ng-click="pioResult2Npl(fruits.indexOf(fruit))"><-</a><br/>
										<a href="" ng-click="nplResult2Pio(fruits.indexOf(fruit))">-></a>
									</td>
									<!--<td><input type="text" size="15" ng-model="fruit.pioPredictLabelResult"/></td>-->
									<td><div angucomplete-alt="" id="pioPredictLabelResult{{$index}}" placeholder="Input Value" pause="100"
											 selected-object="$parent.tmpPioPredictLabelResult" local-data="$parent.allFieldNames" search-fields="name"
											 title-field="name" minlength="1" input-class="form-control form-control-small input-sm"
											 match-class="highlight" initial-value="$parent.fruits[$index].pioPredictLabelResult.value" template-url="/my-custom-template_field.html"
											 class="ng-isolate-scope ">
									</div></td>
									<td><input type="text" size="5" ng-model="fruit.pioPredictConfidence"/></td>
									<td><select ng-model="fruit.userInputType">
										<option value="CLICKABLE">CLICKABLE</option>
										<option value="INPUT">INPUT</option>
										<option value="CLICKINPUT">CLICKINPUT</option>
										</select>
									</td>
									<!--<td><input type="text" size="10" ng-model="fruit.actionTrainedWeight"/></td>
									<td><input type="text" size="10" ng-model="fruit.actionConfidence"/></td>-->
									<td><input type="text" size="10" ng-model="fruit.trainedResult" disabled/></td>
									<td class="col-md-1"><p ng-bind-html="trustAsHtml(fruit.inputMLHtmlCode)"></p></td>
										<!--</tr>
										<tr>-->
									<td colspan="9"><input type="text" size="200" ng-model="fruit.inputMLHtmlCode"/></td>
							<!--			</tr>
									</table>-->
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div style="display:none" class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Calculator (synchronous example)</h3>
						</div>
						<div class="panel-body">

							Number1: <input id="number1" ng-model="number1" class="form-control"><br>
							Number2: <input ng-model="number2" class="form-control"><br>

							<p>
								Result of Number1 + Number2 is: {{ sum() }}<br>
								<small>(the result is computed in pure Java via a synchronous call)</small>
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</body>
</html>